.header{
    background-color: #F19280;
}
#nom {
    color: rgb(200, 156, 241);
    text-align: center;
}

#avatar {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#question
{
    text-align: center;

}

#title2{
    color:rgb(138, 71, 160);
    text-align: center;
}
#title3
{
    border: 5px #000 solid;
    text-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
#title3:hover
{
    border-color:#B8992F;
    color:#fff;
    background-color: #000;

}
#pic1
{
    height: 400px;
    width: 100;
}
#image1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 800px;

}
body{
    background-image:url("img4.jpg") ;
}
#paragraph1{
    font-style: italic;
    font-size: 25px;
    font-weight: bolder;
    color: #F19280;
    text-align: center;
}
#defenition{
    font-style: italic;
    font-size: 25px;
    font-weight: bolder;
    color: #F19280;
    text-align: center;
}
#title4{
    border: 5px #000 solid;
    text-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
#title4:hover{

    border-color:#B8992F;
    color:#fff;
    background-color: #000;}   
